* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

/* Nav Bar */
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li img {
    height: 175px;
    width: auto;
}

/* Homepage: Favorite Section */
.odinfavs {
    text-align: center;
    padding: 100px;
}