*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

/*Homepage Styling */
#homepage-title {
    font-size: 40px;
    color: rgb(26, 0, 119);
    text-decoration: underline;
}

#recipes-list li{
    list-style: decimal;
    line-height: 40px;
}

/*Recipe Page Styling*/
.recipe-title {
    text-decoration: underline;
    color: rgb(75, 9, 138);
}

.recipe-description{
    
}

.recipe-ingredients li{
    list-style-type: square;
}

.recipe-steps li{
    
}